<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Администратор</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <h1>Интерфейс администратора</h1>

    <div style="display: flex; flex-direction: column; gap: 2vh; align-items: center;">
        <a th:href="@{/admin/guests}" class="btn">Гости</a>
        <a th:href="@{/admin/rooms}" class="btn">Комнаты</a>
        <a th:href="@{/admin/bookings}" class="btn">Бронирования</a>
        <a th:href="@{/}" class="btn">Выход</a>
    </div>
</div>
</body>
</html>
